#carousel
{
    width:100%;
}

#carousel img
{
    width:100%;
    height:300px;
    object-fit:cover;
    object-position:center;
}

#carousel,
.Presentation
{
    padding-top:50px;
}

.hovered-image:hover {
    opacity:0.2;
    
}

.suggestion {
    position: relative;
    text-align:center;
    color:black;
}

.suggestion p
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    z-index:1;
}


.suggestion img
{
    position:relative;
    z-index:2;
}



.Presentation 
{
    display:flex;
    flex-direction:column;
    justify-content:start;
    height:350px;
}

.Presentation h2
{
    font-size:3.5em;
}
.Presentation p
{
    font-size:1.5em;
    align-self:center;
}

main
{
    margin-top:50px;
    padding-bottom:50px;
}

.titleSite
{
    color: #5AA374;
}


footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 30px; /* Vertically center the text there */

}

.btn.btn-primary.btn-lg.btn-block, .alert {
    margin-top: 3em;
    margin-bottom: 3em;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}

body 
{
    background-color:#A5D6FF;
}

.container-fluid
{
    background-color:#DFCB1F;

}

main 
{
    background-color:#caf0f8;
    box-shadow:inset 0 0 100px #A5D6FF;
    border-radius:25px;
    
}

.btn-primary
{
    background-color:#5AA374;
}

.buybook 
{
    padding-top:50px;
}

.dropdown-menu.show
{
    background-color:#5AA374;
}

.dropdown-item
{
    color:white;
}
.nav-item
{
    color:white;
}

